/*** Global variables definition ***/
// Palettes: http://www.colourlovers.com/palette/2186081/worn_out, http://www.colourlovers.com/palette/1025830/Little:_Blue_Night
$colorWhitesmoke: whitesmoke;	// rgb(245, 245, 245)
$colorShadedTrees: #2F2933; 	// rgb(47,41,51)
$colorBlueNight: #3B7577;		// rgb(59, 117, 119)
$colorBlueGreen: #028A96;		// rgb(2, 138, 150)
$colorDarkGrey: #CAC8C9;		// rgb(202, 200, 201)
$fontFamily: 'Open Sans', sans-serif;