/*** Global variables definition ***/
nav#primaryNav {
  width: 100%; }
  nav#primaryNav ul {
    text-align: center;
    border-bottom: 1px solid #cac8c9;
    position: relative; }
    nav#primaryNav ul li {
      display: inline-block; }
      nav#primaryNav ul li:hover a {
        color: #2f2933; }
      nav#primaryNav ul li a {
        display: inline-block;
        line-height: 40px;
        padding: 0 10px;
        color: #999999;
        text-decoration: none;
        text-shadow: 0 1px 0 white;
        transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1) 0s; }

nav.secondaryNav {
  position: absolute;
  height: 100%;
  background: linear-gradient(to right, #2f2933, #3c3441);
  box-shadow: 3px 0 3px #cac8c9;
  color: white;
  padding: 10px; }
